@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@mixin transition($duration) {
  -webkit-transition: $duration all ease;
  -moz-transition: $duration all ease;
  -ms-transition: $duration all ease;
  -o-transition: $duration all ease;
  transition: $duration all ease;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

$orgColor: #d2e0f3;
$colorS: #e1ecf8;
$colorF: #828484;
$colorBtn: #f79e36;
$color1: rgb(23, 26, 42);
$usrName: #555555;

* {
  font-family: Montserrat;
}

body {
  background-color: $colorS !important;
}

.cont, {
  background-color: white !important;
}

nav, .navbar-brand {
  color: $colorF !important;
}
.navbar-brand {
  font-weight: bold;
}

.topnav {
  height: 11vh;
  width: 100vw;
  font-weight: 600 !important;
  z-index: 1 !important;
  background-color: $colorS;

  .container {
    padding: 1vh 4vw;
  }
  .active {
    border-bottom: 3px solid $colorF;
  }
  .actLink {
    color: $usrName !important;
  }
  li {
    font-family: 'Noto Sans', sans-serif;
    color: #767779 !important;
    @include transition(1s);
  }
  li:hover {
    text-shadow: 0 0 10px $orgColor;
  }
  
} 

.jumbotron {
  background-image: url('/images/gawds4.jpg');
  background-repeat: no-repeat;
  filter: saturate(110%);
  background-size: 100% 100%;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px black;
  margin-top: 8.5vh;
  padding: 0 !important;
  min-height: 65vh;
  box-sizing: border-box !important;
  .wrapper {
    background-color: #030a1f8e;
    position: relative;
    min-height: 100%;
  }
}

.buttonContainer {
  height: 37vh;
  background-color: $colorS;
  a {
    @include transition(1s);
      background-color:$colorBtn !important;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      font-family: 'Noto Sans', sans-serif;
      border-radius:28px;
      border:1px solid $colorBtn;
      display:inline-block;
      cursor: pointer;
      color:#ffffff;
      font-size: 17px;
      padding: 10px 50px;
  }
  a:hover {
    border-color: #9ecaed;
    @include box-shadow(0, 0, 10px, #9ecaed);
    text-shadow: 0 0 10px #9ecaed;
  }
}

.card {
  padding-top: 3vh;
  font-weight: 500;
  padding-bottom: 8vh;
  border-style: none !important;
  -webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
  transition: .5s all ease;
  .card-header {
    margin-top: 1vh;
    background-color: white;
  }
  .rounded-circle {
    background-color: white;
    border-style: none;
    width: 12rem;
    height: 12rem;
    i {
      color:black;
    }
  }
}
.card:hover {
  color: white;
  @media only screen and (max-width: 768px) { 
    transform: scale(1.1, 1.1);
  }
  @media only screen and (min-width: 768px) { 
    transform: scale(1.3, 1.3);
  }
  background-color: $color1;
  animation: colorChange 8s infinite;
  z-index:2;
  -webkit-box-shadow: 20 20px 6px -6px #757272;
	-moz-box-shadow: 20 20px 6px -6px #757272;
  box-shadow: 20px 20px 6px -6px #757272;
}

.footer {
  background-color: $colorS;
  width: 100vw;
  color: $usrName !important;
  font-weight: 500;
    i {
      color: $usrName;
    }
}
