<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404 Page - Lost In Space</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/css/404page.css">


</head>

<body>
  <nav class="navbar topnav navbar-expand-sm fixed-top navbar-light px-lg-5">
    <div class="container">
      <a class="navbar-brand" href="https://www.gawds.in">gawds</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0">
          <li class="nav-item mr-3 active">
            <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="#">STATS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="central-body">
    <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
    <a href="http://salehriaz.com/404Page/404.html" class="btn-go-home" target="_blank">GO BACK HOME</a>
  </div>
  <div class="objects">
    <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
    <div class="earth-moon">
      <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
      <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
    </div>
    <div class="box_astronaut">
      <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="js/index.js"></script>

</body>

</html>