<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" type="text/css" href="/app/src/stylesheets/css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>gawds LeaderBoard-Homepage</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark px-lg-4">
    <a class="navbar-brand" href="#">gawds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarTogglerDemo02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0">
        <li class="nav-item rounded mr-3 active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item rounded mr-3">
          <a class="nav-link" href="#">Stats</a>
        </li>
        <li class="nav-item rounded mr-3">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid mb-0 d-flex">
    <div class="wrapper d-flex align-items-center w-100">
      <div class="container text-center">
        <h1>Welcome to Gawds LeaderBoard</h1>
        <p>With all new features</p>
      </div>
    </div>
  </div>

  <div class="container-fluid bd-gradient-primary d-flex align-items-center justify-content-center buttonContainer">
    <a class="btn btn-lg btn-primary mr-3" href="#" role="button">Register</a>
    <a class="btn btn-lg btn-primary" href="#" role="button">Log In</a>
  </div>

  <div class="container my-5">

    <div class="card d-flex align-items-center">
      <div class="row mx-2 my-3 d-flex align-items-center">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="rounded-circle mb-sm-2 d-flex justify-content-center align-items-center">
            <a href="javascript:void();"><i class="fa fa-image fa-4x"></i></a>
          </div>
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Feature 1</h4>
            <p class="card-text">Sample text for features, content writers please look for content </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card d-flex align-items-center">
      <div class="row mx-2 my-3 d-flex align-items-center">
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Feature 2</h4>
            <p class="card-text">Sample text for features, content writers please look for content </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="rounded-circle mb-sm-2 d-flex justify-content-center align-items-center">
            <a href="javascript:void();"><i class="fa fa-image fa-4x"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card d-flex align-items-center">
      <div class="row mx-2 my-3 d-flex align-items-center">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="rounded-circle mb-sm-2 d-flex justify-content-center align-items-center">
            <a href="javascript:void();"><i class="fa fa-image fa-4x"></i></a>
          </div>
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Feature 3</h4>
            <p class="card-text">Sample text for features, content writers please look for content </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><b><a href="https://www.gawds.in/">gawds</a></b> is a Coding Club of NIT kurukshetra, Harayana </p>
          <p class="h6">&copy All rights Reversed.<a class="text-green ml-2" href="https://www.gawds.in" target="_blank">Gawds</a></p>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/app/src/js/index.js"></script>
</body>

</html>