<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="/stylesheets/css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <title>gawds LeaderBoard-Homepage</title>
</head>

<body>
  <nav class="navbar topnav navbar-expand-sm fixed-top navbar-light px-lg-5">
    <div class="container">
      <a class="navbar-brand" href="https://www.gawds.in">gawds</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0">
          <li class="nav-item mr-3 active">
            <a class="nav-link actLink" href="/">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="/members">MEMBERS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid mb-0 d-flex">
  </div>

  <div class="container-fluid bd-gradient-primary text-center buttonContainer">
    <a class="btn btn-lg btn-primary" href="/auth/login" role="button">LOGIN</a>
  </div>

  <div class="cont container-fluid">
    <div class="container py-5">

      <div class="row">
        <div class="card text-center col-lg-4 d-flex align-items-center">
          <div class="card-header rounded-circle d-flex justify-content-center align-items-center">
            <div class=" mb-sm-2 d-flex justify-content-center align-items-center">
              <i class="fas fa-chart-pie fa-5x"></i>
            </div>
          </div>
          <div class="card-body px-3">

            <h4 class="card-title">Graphs</h4>
            <p class="card-text">Real-time rendered, easily readable graphs which showcase each member's monthly
              commits. The graphs are updated every week </p>
          </div>
        </div>

        <div class="card text-center col-lg-4 d-flex align-items-center">
          <div class="card-header rounded-circle d-flex justify-content-center align-items-center">
            <div class="mb-sm-2 d-flex justify-content-center align-items-center">
              <i class="fas fa-user-shield fa-5x"></i>
            </div>
          </div>
          <div class="card-body px-3">

            <h4 class="card-title">User Authentication and Rendering</h4>
            <p class="card-text">The users are authenticated via their Github IDs and the data is fetched through
              github api. The graphs have been rendered from Python and then converted to html </p>
          </div>
        </div>

        <div class="card text-center col-lg-4 d-flex align-items-center">
          <div class="card-header rounded-circle d-flex justify-content-center align-items-center">
            <div class="mb-sm-2 d-flex justify-content-center align-items-center">
              <i class="fas fa-columns fa-4x"></i>
            </div>
          </div>
          <div class="card-body px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Dashboards</h4>
              <p class="card-text">Unique, easily accessible dashboards for each registered user, complete with contact
                information and a personal bio </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

  <nav class="navbar navbar-expand footer navbar-light bg-faded">
    <div class="container">
      <span>&copy All rights Reversed.<a class="navbar-brand" href="https://www.gawds.in">GAWDS.IN</a></span>
      <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0 text-truncate">
        <li class="nav-item mr-3">
          <a class="nav-link" href="https://www.facebook.com/gawdsnitkkr/"><i class="fab fa-facebook-f fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="https://in.linkedin.com/company/graphics-and-web-development-squad"><i class="fab fa-linkedin fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="https://www.instagram.com/_gawds/"><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="https://github.com/gawdsnitkkr"><i class="fab fa-github fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>