@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  font-family: Montserrat;
}

.cont {
  background-color: #e5edf8 !important;
}

nav, .navbar-brand {
  color: #828484 !important;
}

.navbar-brand {
  font-weight: bold;
}

.topnav {
  font-weight: 600;
  height: 11vh;
  z-index: 1 !important;
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5edf8;
}

.topnav .container {
  padding: 1vh 8vh;
}

.topnav .active {
  border-bottom: 3px solid #828484;
}

.topnav li {
  font-family: 'Noto Sans', sans-serif;
  color: #767779 !important;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.topnav li:hover {
  text-shadow: 0 0 10px #9ecaed;
}

.jumbotron {
  margin-top: 11vh;
  padding: 3vh 5vh 6vh 5vh !important;
  margin-bottom: 0 !important;
  color: white;
  background-color: #e5edf8 !important;
  min-height: 89vh;
}

.jumbotron .name {
  margin-top: 5vh;
}

.jumbotron h1 {
  font-family: 'Raleway';
  color: #555555 !important;
  letter-spacing: 8px !important;
  font-weight: bolder;
}

.jumbotron .master {
  position: relative;
  width: 90%;
  padding-top: 2vh;
  color: #767779;
  padding-bottom: 2vh;
  min-height: 77vh !important;
}

.jumbotron .master .username {
  background-color: #dbe6f5;
  font-weight: bold;
  -webkit-box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
          box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
  margin: 0 !important;
  padding-bottom: 3vh;
}

.jumbotron .master .rounded-circle {
  background-color: #fccf0c;
  width: 35vh;
  height: 35vh;
}

.jumbotron .master .rounded-circle i {
  color: #e14e6e;
}

.jumbotron .master .current {
  max-height: 10vh;
}

.jumbotron .master .container-fluid {
  margin-top: 3vh;
  }

.org {
  background-color: #d2e0f3;
  -webkit-box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 5px rgba(37, 35, 35, 0.281);
          box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 5px rgba(37, 35, 35, 0.281);
  padding-bottom: 2vh;
  padding-top: 1vh;
}

.org h3 {
  font-weight: bolder !important;
}

.graphDisplay {
  height: 85vh;
  background-color: #e5edf8;
  font-weight: bold;
  color: #555555 !important;
}

.graphDisplay .active {
  background-color: #aecbf3 !important;
  border-color: #aecbf3 !important;
}

.graphDisplay .container {
  height: 75vh;
  padding: 10vh 12vh 6vh 12vh;
  background-color: #dbe6f5;
  -webkit-box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
          box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
}

.graphDisplay .container .tab-content {
  background-color: #d2e0f3;
  color: white;
}

.footer {
  background-color: #e5edf8;
}

.footer i {
  color: rgba(0, 0, 0, 0.904);
}

section {
  padding: 60px 0;
}

#footer {
  -webkit-box-shadow: 4px 0 0 0 black;
          box-shadow: 4px 0 0 0 black;
  background: #007b5e !important;
}

#footer a {
  color: #c1a8eb;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}
.socialic{
  padding-bottom: 20px;
}
/*# sourceMappingURL=dashboard.css.map */