@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
* {
  font-family: Montserrat;
}

.cont {
  background-color: #e5edf8 !important;
}

nav, .navbar-brand {
  color: #828484 !important;
}

.navbar-brand {
  font-weight: bold;
}

.topnav {
  height: 11vh;
  width: 100vw;
  font-weight: 600 !important;
  z-index: 1 !important;
  background-color: #e5edf8;
}

.topnav .container {
  padding: 1vh 4vw;
}

.topnav .active {
  border-bottom: 3px solid #828484;
}

.topnav .actLink {
  color: #555555 !important;
}

.topnav li {
  font-family: 'Noto Sans', sans-serif;
  color: #767779 !important;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.topnav li:hover {
  text-shadow: 0 0 10px #d2e0f3;
}

.jumbotron {
  margin-top: 11vh;
  padding: 3vh 5vh 6vh 5vh !important;
  margin-bottom: 0 !important;
  color: white;
  background-color: #e5edf8 !important;
  min-height: 89vh;
}

.jumbotron .name {
  margin-top: 5vh;
}

.jumbotron h1 {
  font-family: 'Noto Sans';
  color: #555555 !important;
  font-size: 9vh !important;
  font-weight: bold !important;
}

.jumbotron .master {
  position: relative;
  padding-top: 2vh;
  color: #767779;
  padding-bottom: 2vh;
  min-height: 77vh !important;
}

@media only screen and (max-width: 768px) {
  .jumbotron .master {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron .master {
    width: 80%;
  }
}

.jumbotron .master .username {
  background-color: #dbe6f5;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
  box-shadow: 0 0 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
  margin: 0 !important;
  padding-bottom: 8vh;
}

.jumbotron .master .rounded-circle {
  background-size: 100% 100%;
  width: 15rem;
  height: 15rem;
}

.jumbotron .master .current {
  max-height: 10vh;
  margin: 2vh 0;
}

.jumbotron .master .container-fluid {
  margin-top: 3vh;
}

.org {
  background-color: #d2e0f3;
  -webkit-box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 5px rgba(37, 35, 35, 0.281);
  box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 5px rgba(37, 35, 35, 0.281);
  padding-bottom: 2vh;
  padding-top: 1vh;
}

.org h3 {
  font-weight: bolder !important;
}

.graphDisplay {
  height: 85vh;
  background-color: #e5edf8;
  font-weight: bold;
  color: #555555 !important;
}

.graphDisplay .nav-tabs > a {
  color: #555555;
}

.graphDisplay .active {
  background-color: #aecbf3 !important;
  border-color: #aecbf3 !important;
}

.graphDisplay .container {
  height: 75vh;
  padding: 8vh 12vh 6vh 12vh;
  background-color: #dbe6f5;
  -webkit-box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
  box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
}

.graphDisplay .container .tab-content {
  padding-bottom: 2vh;
  height: 80%;
  color: #767779;
}

.graphDisplay .container .tab-content .tab-pane {
  height: 90%;
  background-color: #d2e0f3 !important;
  -webkit-box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
  box-shadow: 0 0px 5px rgba(37, 35, 35, 0.281), 0 2px 3px rgba(0, 0, 0, 0.281);
  width: 100%;
}

.graphDisplay .container .tab-content .row {
  margin: 0 !important;
  height: 100%;
}

.footer {
  background-color: #e5edf8;
  width: 100vw;
  color: #555555 !important;
  font-weight: 500;
}

.footer i {
  color: #555555;
}
/*# sourceMappingURL=dashboard.css.map */